
    <div id="about" class="container-fluid">
      <div class="rows">
        <div class="col-sm-8">
          <h2>About Chotanagpur Youth Pune</h2>
          <h4>Since 2015</h4>
          <p> <strong> Chota nagpur youth,Pune </strong> was formed on 1st August 2015 by Mr. Anit Tirkey.This youth group has been started to unite all the youths who belong to ChotaNagpur region (Chattishgarh), Jharkhand, Orissa and others parts of the country and are currently in Pune. The aim of this group is to preserve the traditions and culture of ChotaNagpur. We conduct various activities throughout the year to bind and build a good society. The first meeting started with around 20 people, soon it grew by numbers. Now we have been able to connect people from different locations round pune. We are connected to people from different starta of life, be it students or working professionals or workers.
		  Everyone can connect to each other through this youth group.</p>
		  <p> The youth group is also connected to brothers of <strong>De Nobili College Pune</strong>. We work together with brothers for different
		  activities which are conducted by them or by us. Together we have achived our goal of connecting our people in pune.
        </div>
        <div class="col-sm-4">
          <!---<span class="glyphicon glyphicon-home logo"></span>--->
           <div class="panel panel-default">
              <div class="panel-heading">Message : Mr.Anit Trikey, President</div>
              <div class="panel-body">
                Welcome, to chotanagpur youth pune. I am Anit Trikey. It is great to find someone who has same roots to culture in this vast world. blah blah...It is great to find someone who has same roots to culture in this vast world. blah blah...It is great to find someone who has same roots to culture in this vast world. blah blah...It is great to find someone who has same roots to culture in this vast world. blah blah...It is great to find someone who has same roots to culture in this vast world. blah blah...
              </div>
            </div>
        </div>
      </div>  
    </div>

    <div class="container-fluid bg-grey">
      <div class="row">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-globe logo"></span>
        </div>
        <div class="col-sm-8">
          <h2>Our Values</h2>
          <h4><strong>MISSION : </strong>Our mission is to help our community to grow and move forward.Motivate our members to connect each and everyone.Spread knowledge and awareness about our community.</h4>
          <p><strong>VISION : </strong> Our Vision is to provide an healthy environment to get togther, know each-other, develop and bring forward people of our community.</p>
        </div>
      </div>
    </div>

    <div id="events" class="container-fluid text-center">
      <h2>Events</h2>
      <h4>This is what we do</h4>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-menu-hamburger logo-small"></span>
          <h4>Upcoming Events</h4>
          <p>Below are the list of upcoming events ...</p>
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-triangle-bottom logo-small"></span>
          <h4>Recent Events</h4>
          <p>Below are the list of recent events that were conducted ...</p>
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-calendar logo-small"></span>
          <h4>Event Calender</h4>
          <p>Below are the list of events scheduled for 2016..</p>
        </div>
      </div>
    </div>

    <div id="gallery" class="container-fluid text-center bg-grey">
      <h2>Gallery</h2>
      <h4>Checkout our gallery</h4>
      <!--<div ng-controller="mainController" id="slides_control">
		<div>
		  <carousel interval="myInterval">
			<slide ng-repeat="slide in slides" active="slide.active">
			  <img id="slideImage" ng-src="{{slide.image}}">
			  <div class="carousel-caption">
				<h4>Slide {{$index+1}}</h4>
			  </div>
			</slide>
		  </carousel>
		</div>
	  </div>-->
	  <div style="width:700px;height:500px;text-align:center;margin:auto;" >
		<object width="800" height="500" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"> 
		<param name="flashvars" value="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2F148471514%40N04%2Fshow&amp;page_show_back_url=%2Fphotos%2F148471514%40N04%2F&amp;user_id=148471514@N04" /> 
		<param name="allowFullScreen" value="true" /> <param name="src" value="https://www.flickr.com/apps/slideshow/show.swf?v=71649" /> 
		<embed width="800" height="500" type="application/x-shockwave-flash" src="https://www.flickr.com/apps/slideshow/show.swf?v=71649" flashvars="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2F148471514%40N04%2Fshow&amp;page_show_back_url=%2Fphotos%2F148471514%40N04%2F&amp;user_id=148471514@N04" allowFullScreen="true" /> </object><br />
		<small>Created with <a href="http://www.flickrslideshow.com">flickr slideshow</a>.</small>
	  </div>
    </div>
	
	

    <div id="contact" class="container-fluid">
      <h2 class="text-center">Contact</h2>
      <div class="row">
        <div class="col-sm-5">
          <p>Contact us and we'll get back to you within 24 hours.</p>
          <p><span class="glyphicon glyphicon-map-marker"></span> Pune, India</p>
          <p><span class="glyphicon glyphicon-phone"></span> +91 9096886940</p>
          <p><span class="glyphicon glyphicon-envelope"></span>chotanagpurpune@yahoo.co.in</p> 
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
            </div>
          </div>
          <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
          <div class="row">
            <div class="col-sm-12 form-group">
              <button class="btn btn-default pull-right" type="submit">Send</button>
            </div>
          </div> 
        </div>
      </div>
    </div>