
    <div id="about" class="container-fluid">
      <div class="rows">
        <div class="col-sm-12">
          <h2>About Chotanagpur Youth Pune</h2>
          <h4>Since 2015</h4>
            
          <p><img id="about-image" src="../img/picture_about.jpg"> <strong class="indent">ChotaNagpur Association Pune (CNAP)</strong> formed on 1st August 2015, to bring all CN folks under a single platform in Pune from different part of ChotaNagpur Platue <strong>(Chattishgarh, Jharkhand, Orissa)</strong>. The main motive was to know each other, so that by means of which any CN individual can get support or help from the community, for Education, Medical, Financial and Advisory.The aim of this group is to preserve the traditions and culture of ChotaNagpur, for which Who conduct various activities throughout the year to bind and build a good society.Youth came up with their Helping Hands to strengthen CNAP development work, ChotaNagpur Youth Pune (CNYAP) formmed on 1st August 2015. Initially with the thought from handful of youth, CNYAP had its first meeting on <strong>29th July 2015</strong>, where future plans drafted. This youth group has been started to unite all the youths who belong to ChotaNagpur region and resides in Pune.  We work together with brothers for different activities which are conducted by them or by us.</p>
		  <p> The youth group is also connected to brothers of <strong>De Nobili College Pune</strong>. We work together with brothers for different activities which are conducted by them or by us. Together we have achived our goal of connecting our people in pune</p>
        </div>
      </div>      
      <div class="rows">    
        <div class="col-sm-12">
          <!---<span class="glyphicon glyphicon-home logo"></span>--->
           <div class="panel panel-default">
              <div class="panel-heading">A Message from the President of the Association</div>
              <div class="panel-body">
                <FIGURE id="president-image">
                    <img src="../img/picture_president.jpg">
                    <FIGCAPTION align="center"><b>Mr. Anit Tirkey,President</b></FIGCAPTION>
                </FIGURE>
                 
                    <p class="indent">The principal aim and mission of the Chhotanagpur Youth Association is to unite and strengthen the youth of  the Chhotanagpur, residing in and around the vicinity of Pune with the spirit of discipleship.The association also intends to dedicate itself to protect its youth from various forms of social-economic, political and technocratic exploitations. The association aspires to foster and preserve the cultural values like indigenous identity, traditions, rituals and customs through various workshops, seminars, and capacity building programs, tournaments and providing legal aids.These activities would concentiseyouth and bring in them a deeper awareness of their socio-economic-cultural and political realities.</p>
                    <p class="indent">Besides, the association also would provide spiritual, economic, moral and psychological support to those who are poverty stricken, uprooted from their land and broken from their families.
                    Scriptures remind us that God abides in communities. His spirit abides in the Church, inspiring, guiding and instructing the beloved community. As a living body of believing and non-believing community, we aspire to hand on ortransmit our cultures, religious values and traditions to our next generations because we believe that we experience and encounter God in our cultures and traditions in our own communities.
                    Therefore, this association functions as a transforming enterprise, a common platform or a non-profit organization which recognizes religious and cultural pluralism respecting the human dignity, talents and values of every member of the association. Thus it becomes a home for many youth who need love and shelter.</p>

              </div>
            </div>
        </div>
      </div>  
    </div>

    <div class="container-fluid bg-grey">
      <div class="row">
        <div class="col-sm-4">
          <img id="mission-image" src="../img/picture_mission.jpg">
        </div>
        <div class="col-sm-8">
          <h2>Our Values</h2>
          <h4><strong>MISSION : </strong>Our mission is to help our community to grow and move forward.Motivate our members to connect each and everyone.Spread knowledge and awareness about our community.Our mission is to keep our culture and traditions alive where when world is changing very rapidly and traditions are lost with time. When we conduct various cultural activities, it keeps the current and future generation in touch with our old age traditions.</h4>
          <h4><strong>VISION : </strong> Our Vision is to provide an healthy environment to get togther in the form of events, meetings, sports and get together functions, know each-other, develop and bring forward people of our community.</h4>
         <h4><strong> PURPOSE : </strong> It is the purpose that connects one another. Without a purpose in life is an empty life. Helping hand depicts the purpose of our youth group. Helping each other not only during need, but to bring up our fellow memebers to their strenght so that they too can help others.</h4>    
        </div>
      </div>
    </div>

    <div id="events" class="container-fluid text-center">
      <h2>Events</h2>
      <h4>Join us and connect with people</h4>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-menu-hamburger logo-small"></span>
          <h4>Upcoming Events</h4>
          <p>Below are the list of upcoming events ...</p>
            <ul class="list-group">
                <li class="list-group-item">Hockey Match - 30th Oct 2016</li>
                <li class="list-group-item">Christmas Gathering - 20th December</li>
            </ul>   
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-triangle-bottom logo-small"></span>
          <h4>Recent Events</h4>
          <p>Below are the list of recent events that were conducted ...</p>
             <ul class="list-group">
                <li class="list-group-item">Karam - 25th September 2016</li>
                <li class="list-group-item">Adivashi Divas - 9th August 2016</li>
            </ul>
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-calendar logo-small"></span>
          <h4>Event Calender</h4>
          <p>Below are the list of events scheduled for 2016..</p>
            <ul class="list-group">
                <li class="list-group-item">Hockey Match - 15th August</li>
                <li class="list-group-item">Hockey Match - 30th October</li>
                <li class="list-group-item">Karam - 25th September</li>
                <li class="list-group-item">Christmas Gathering - 20th December</li>
            </ul>
        </div>
      </div>
        <div class="row">
            <div class="col-sm-6">
                  <img id="events-image" src="../img/picture_events1.jpg" >
            </div>
            <div class="col-sm-6">
                  <img id="events-image" src="../img/picture_events2.jpg" >
            </div>
        </div>
    </div>

    <div id="gallery" class="container-fluid text-center bg-grey">
      <h2>Gallery</h2>
      <h4>Checkout our gallery</h4>
      <!--<div ng-controller="mainController" id="slides_control">
		<div>
		  <carousel interval="myInterval">
			<slide ng-repeat="slide in slides" active="slide.active">
			  <img id="slideImage" ng-src="{{slide.image}}">
			  <div class="carousel-caption">
				<h4>Slide {{$index+1}}</h4>
			  </div>
			</slide>
		  </carousel>
		</div>
	  </div>-->
        <div class="row"> 
            <div class="col-sm-12">
               <!-- <div style="width:100%;height:100%;text-align:center;margin:auto;" >
                    <object width="800" height="500" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"> 
                    <param name="flashvars" value="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2F148471514%40N04%2Fshow&amp;page_show_back_url=%2Fphotos%2F148471514%40N04%2F&amp;user_id=148471514@N04" /> 
                    <param name="allowFullScreen" value="true" /> <param name="src" value="https://www.flickr.com/apps/slideshow/show.swf?v=71649" /> 
                    <embed width="800" height="500" type="application/x-shockwave-flash" src="https://www.flickr.com/apps/slideshow/show.swf?v=71649" flashvars="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2F148471514%40N04%2Fshow&amp;page_show_back_url=%2Fphotos%2F148471514%40N04%2F&amp;user_id=148471514@N04" allowFullScreen="true" /> </object><br />
                    <small>Created with <a href="http://www.flickrslideshow.com">flickr slideshow</a>.</small>
                </div> -->
                    <div class="flickrwrap"> 
                    <iframe src="https://www.flickr.com/photos/148471514@N04/albums/72157675743359306/player/"
                    frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
            </div>
        </div>    
    </div>
	
	

    <div id="contact" class="container-fluid footer-color">
      <h2 class="text-center">Contact</h2>
      <div class="row">
        <div class="col-sm-5">
          <p>Contact us and we'll get back to you within 24 hours.</p>
          <p><span class="glyphicon glyphicon-map-marker"></span> Pune, India</p>
          <p><span class="glyphicon glyphicon-phone"></span> +91 9096886940</p>
          <p><span class="glyphicon glyphicon-envelope"></span> chotanagpurpune@yahoo.co.in</p> 
          <p><span class="glyphicon glyphicon-thumbs-up"></span> <a id="facebooklink" href="https://www.facebook.com/groups/1206378209379510/" target="_blank">Facebook</a> </p>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
            </div>
          </div>
          <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
          <div class="row">
            <div class="col-sm-12 form-group">
              <button class="btn btn-default pull-right" type="submit">Send</button>
            </div>
          </div> 
        </div>
      </div>
    </div>