<div class="container">
    <form name="registerForm" novalidate ng-submit="registerUser()" role='form' class="form-horizontal">

      <div class="text-center">
        <h1>Register</h1>

        <div class="form-group">
          <label for="username" class="control-label col-sm-4">Username:</label>
          <div  class="col-sm-4">
		  <input type="text" name="username" id="username" class="form-control" ng-model="userInformation.username" placeholder="username" ng-required="true" ng-minlength="2"/>
          </div>
		  <span class="error-message" ng-show="registerForm.username.$dirty && registerForm.username.$error.required">Username is Mandatory</span>
          <span class="error-message" ng-show="registerForm.username.$dirty && registerForm.username.$error.minlength">Username should be minimum 2 characters</span>
        </div>
        <div class="form-group">
          <label for="password" class="control-label col-sm-4">Password:</label>
          <div  class="col-sm-4">
			<input type="password" name="password" id="password" class="form-control" ng-model="userInformation.password" placeholder="password" required="true"/>
		  </div>	
			
		</div>
        <div class="form-group">
          <label for="re_password" class="control-label col-sm-4">Re-enter Password:</label>
           <div  class="col-sm-4">
            <input type="password" name="re_password" id="re_password" class="form-control" ng-model="userInformation.re_password" placeholder="password" required="true"/>
            </div>       
        </div>
        <div class="form-group">
          <label for="firstName" class="control-label col-sm-4">First Name:</label>
           <div  class="col-sm-4">
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="userInformation.firstName" placeholder="firstName" required="true"/>
            </div>   
        </div>
        <div class="form-group">
          <label for="lastName" class="control-label col-sm-4">Last Name:</label>
          <div  class="col-sm-4">
            <input type="text" name="lastName" id="lastName" class="form-control" ng-model="userInformation.lastName" placeholder="lastName" required="true"/>
         </div>
          </div>    
        <div class="form-group">
          <label for="emailID" class="control-label col-sm-4">Email ID:</label>
          <div  class="col-sm-4">
            <input type="text" name="emailID" id="emailID" class="form-control" ng-model="userInformation.emailID" placeholder="emailID" required="true"/>
            </div>      
        </div>
        <div class="buttonDiv">
          <p>
           <!-- <button type="button" class="btn btn-primary" ng-click="createProfiles(userInformation)">
            Register
            </button>-->
            <input type="submit" name="signup" id="signup" class="btn btn-primary" value="Register" ng-click="createProfiles(userInformation)"/> 
            <a href="/login" title="Login" class="button">Already a member?Click to Login here</a>
          </p>
           {{errorLoginMessage}}
            {{message}}
        </div>
      </div>

    </form>
</div>